.bannerContainer {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #07709d;
  /* align-items: center; */
  position: sticky;
  top: 0;
  z-index: 2;
}

.bannerImg {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.btn-delete-account {
  margin-left: 30px;
  margin-right: 60px;
  width: 160px;
  height: 35px;
  font-size: 15px;
  border: 1px solid #07709d;
  border-radius: 5px;
  padding: 3px;
  margin-top: 15px;
  float: right;
  background: #fefefe;
  color: #07709d;
  font-weight: 600;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-loginout {
  margin-left: 30px;
  width: 160px;
  height: 35px;
  font-size: 15px;
  border: 1px solid #07709d;
  border-radius: 5px;
  padding: 3px;
  margin-top: 15px;
  float: right;
  background: #fefefe;
  color: #07709d;
  font-weight: 600;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .btn-loginout {
  width: 60px;
  height: 25px;
  font-size: 14px;
  background: white;
  color:black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

.btn-update {
  margin-left: 30px;
  margin-right: 30px;
  width: 160px;
  height: 35px;
  border: 1px solid #07709d;
  border-radius: 5px;
  padding: 3px;
  margin-top: 15px;
  font-size: 15px;
  float: right;
  background: #b5cfd8;
  color: rgb(202, 6, 6);
  font-weight: 600;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 60px;
  margin-right: auto;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  line-height: 55px;
  font-size: 50px;
} */

.logo {
  font-size: 36px;
  margin-left: 22px;
  font-weight: bold;
  color: rgb(248, 245, 245);
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bannerLeft {
  flex: 2;
}

/* .bannerMiddle {
  flex: 3;
} */

.bannerRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
