.profile-container {
  display: flex;
  width: 90%;
}

.profile-details {
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  padding: 10px;
  background-color: white;
}

.detailsTitle {
  margin-bottom: 12px;
}

.profile-details-wrapper {
  padding: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-title {
  margin-bottom: 12px;
}

.profileUserImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 150px;
  border: 3px solid white;
}

.profile-info {
  width: 90%;
}

.profileInfoName {
  font-size: 24px;
  margin-left: 0.5em;
}

.profileEditForm {
  display: flex;
  flex-direction: column;
  width: 260%;
}

.profileEditButton {
  /* margin-left: 30px; */
  width: 70px;
  height: 35px;
  font-size: 15px;
  border: 1px solid #07709d;
  border-radius: 5px;
  padding: 3px;
  margin-top: 15px;
  /* float: right; */
  background: #fefefe;
  color: #07709d;
  font-weight: 600;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profileCancelButton {
  margin-left: 30px;
  width: 70px;
  height: 35px;
  font-size: 15px;
  border: 1px solid #07709d;
  border-radius: 5px;
  padding: 3px;
  margin-top: 15px;
  float: right;
  background: #fefefe;
  color: #07709d;
  font-weight: 600;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profileSubmitButton {
  margin-left: 30px;
  width: 70px;
  height: 35px;
  font-size: 15px;
  border: 1px solid #07709d;
  border-radius: 5px;
  padding: 3px;
  margin-top: 15px;
  float: right;
  background: #fefefe;
  color: #07709d;
  font-weight: 600;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formWrapper {
  width: 8%;
}

.detailsInfoItem {
  margin-bottom: 12px;
}

.profileEditLabel {
  margin-top: 20px;
}

.leftbar {
  height: calc(100vh - 60px);
  top: 60px;
  width: 200px;
  left: 0;
  position: sticky;
}

.selectImgButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 5px;
}

.uploadButton,
.cancelButton {

  /* cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  font-size: 14px; */

  width: 50px;
  height: 25px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 3px;
  /* float: right; */
  font-weight: 600;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.uploadButton {
  background-color: green;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.cancelButton {
  background-color: red;
  color: white;
}

.uploadOptionText {
  font-weight: 400;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 480px) {
  .profile-container {
    display: block;
    width: 100%;
  }

  .profile-info {
    width: 100%;
  }
}
